<% @walls.each do |wall| %>
  <div>
    <div>
      <span><%= link_to wall.user.name, "/pages/#{wall.user.id}" %></span>
      <span><%= link_to wall.relative.name, "/pages/#{wall.relative.id}" %></span>
    </div>
    <div>
      <%= wall.body %>
    </div>
  </div>
<% end %>
