// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  padding-top:70px;
}
h2 {
  text-transform: uppercase;
}

.ui-menu-item {
  list-style: none;
  background: #E7E7E7;
  padding: 4px;
  font-size: 14px;
  border: 1px solid rgb(204, 204, 204);
}

.ui-autocomplete {
  width:104px;
  height:28px;
}

.ui-helper-hidden-accessible{
  display:none;
}

